.production-section {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1020' height='480' viewBox='0 0 1020 480' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.8' d='M480 240C480 372.548 372.548 480 240 480C107.452 480 0 372.548 0 240C0 107.452 107.452 0 240 0C372.548 0 480 107.452 480 240ZM133.847 240C133.847 298.626 181.373 346.153 240 346.153C298.626 346.153 346.153 298.626 346.153 240C346.153 181.373 298.626 133.847 240 133.847C181.373 133.847 133.847 181.373 133.847 240Z' fill='%23F7F4F1'/%3e%3ccircle opacity='0.8' cx='780' cy='240' r='240' fill='%23F7F4F1'/%3e%3c/svg%3e ");
  background-position: left 80px;
  background-repeat: no-repeat;

  @include responsive767 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='238' height='505' viewBox='0 0 238 505' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.8' d='M118.825 237.647C53.2005 237.647 0.00136523 184.448 0.0013681 118.824C0.00137097 53.1991 53.2005 2.29712e-06 118.825 5.16566e-06C184.449 8.03419e-06 237.648 53.1991 237.648 118.824C237.648 184.448 184.449 237.647 118.825 237.647ZM118.825 66.2676C89.799 66.2676 66.2689 89.7977 66.2689 118.824C66.2689 147.849 89.799 171.38 118.825 171.38C147.851 171.38 171.381 147.849 171.381 118.824C171.381 89.7977 147.851 66.2676 118.825 66.2676Z' fill='%23F7F4F1'/%3e%3ccircle opacity='0.8' cx='118.825' cy='386.176' r='118.824' transform='rotate(90 118.825 386.176)' fill='%23F7F4F1'/%3e%3c/svg%3e ");
    background-position: right 50px;
  }
}

.production-section__head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.production-section__head-content-left {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include responsive1699 {
    max-width: 500px;
  }

  @include responsive1279 {
    max-width: 380px;
  }

  @include responsive1023 {
    width: 100%;
  }

  @include responsive767 {
    margin-top: 10px;
  }

  & > .caption {
    @include responsive1023 {
      display: none;
    }
  }
}

.production-section__head-content-right {
  width: 100%;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @include responsive1699 {
    font-size: 22px;
    line-height: 24px;
    max-width: 600px;
  }

  @include responsive1279 {
    font-size: 18px;
    line-height: 20px;
    max-width: 550px;
  }

  @include responsive1023 {
    font-size: 16px;
    line-height: 20px;
    max-width: 80%;
    margin-top: 20px;
    order: -1;
    gap: 20px;
  }

  @include responsive767 {
    max-width: 100%;
  }
}

.production-section__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 38px;
  text-transform: uppercase;

  @include responsive1699 {
    font-size: 28px;
    line-height: 32px;
  }

  @include responsive1279 {
    font-size: 22px;
    line-height: 24px;
  }

  @include responsive767 {
    font-size: 18px;
    line-height: 20px;
  }

  @include responsive374 {
    font-size: 16px;
    line-height: 18px;
  }
}

.production-section__text {
  margin-top: auto;
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include responsive1023 {
    margin-top: 20px;
  }
}

.production-section__body {
  width: 100%;
  margin-top: 80px;

  @include responsive1279 {
    margin-top: 40px;
  }

  @include responsive767 {
    margin-top: 30px;
  }
}

.video {
  border-radius: 60px;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;

  @include responsive1279 {
    height: 350px;
  }

  @include responsive767 {
    height: 190px;
    border-radius: 30px;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video__play {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='241' height='241' viewBox='0 0 241 241' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='121' cy='121' r='120' fill='white'/%3e%3cpath d='M100.933 208.377C99.517 208.049 98.3331 207.473 97.381 206.65C96.437 205.822 95.7824 204.808 95.4174 203.608C95.0589 202.41 95.0467 201.089 95.381 199.648C95.6249 198.596 96.0239 197.672 96.5779 196.876C97.1383 196.082 97.8171 195.443 98.6141 194.957C99.4111 194.471 100.291 194.158 101.254 194.019C102.219 193.873 103.227 193.922 104.279 194.166C105.455 194.438 106.394 194.814 107.098 195.291C107.809 195.764 108.423 196.348 108.94 197.043L106.485 199.574C106.21 199.106 105.835 198.715 105.361 198.399C104.893 198.086 104.341 197.855 103.704 197.707C103.113 197.57 102.568 197.533 102.067 197.595C101.567 197.657 101.121 197.81 100.729 198.054C100.345 198.294 100.017 198.618 99.7439 199.027C99.4792 199.431 99.2821 199.912 99.1526 200.471C98.9779 201.224 98.9774 201.905 99.1512 202.513C99.325 203.122 99.6572 203.637 100.148 204.058C100.647 204.475 101.292 204.775 102.085 204.959C102.669 205.094 103.275 205.139 103.901 205.093C104.534 205.048 105.162 204.892 105.785 204.626L106.726 208.006C105.993 208.336 105.146 208.55 104.185 208.649C103.225 208.748 102.141 208.657 100.933 208.377ZM108.686 209.564L109.265 195.576L112.802 195.723L117.629 204.6L116.16 204.559L121.414 196.079L124.941 196.225L124.363 210.213L120.816 210.066L121.272 200.737L121.901 201.003L117.832 207.43L115.424 207.331L111.73 200.582L112.369 200.369L112.053 209.704L108.686 209.564ZM134.489 209.327C133.415 209.494 132.399 209.466 131.44 209.244C130.48 209.015 129.617 208.626 128.851 208.077C128.084 207.528 127.448 206.845 126.943 206.026C126.445 205.206 126.116 204.285 125.958 203.264C125.798 202.236 125.832 201.256 126.058 200.324C126.291 199.39 126.689 198.546 127.253 197.791C127.818 197.035 128.523 196.406 129.369 195.904C130.215 195.401 131.175 195.067 132.249 194.9C133.323 194.733 134.336 194.765 135.29 194.994C136.249 195.223 137.113 195.615 137.881 196.171C138.655 196.725 139.295 197.412 139.8 198.231C140.303 199.043 140.634 199.953 140.79 200.961C140.949 201.982 140.912 202.96 140.679 203.893C140.446 204.826 140.044 205.671 139.473 206.428C138.909 207.183 138.205 207.816 137.359 208.325C136.52 208.826 135.563 209.16 134.489 209.327ZM133.96 205.918C134.487 205.836 134.954 205.672 135.361 205.427C135.775 205.181 136.118 204.868 136.389 204.488C136.66 204.102 136.848 203.661 136.953 203.166C137.058 202.671 137.066 202.133 136.976 201.553C136.855 200.776 136.596 200.128 136.198 199.61C135.8 199.085 135.303 198.71 134.708 198.485C134.12 198.259 133.477 198.201 132.778 198.309C132.258 198.39 131.791 198.553 131.377 198.8C130.963 199.046 130.621 199.359 130.349 199.739C130.077 200.118 129.889 200.559 129.785 201.061C129.686 201.555 129.682 202.092 129.772 202.672C129.893 203.449 130.153 204.1 130.551 204.626C130.949 205.144 131.442 205.516 132.03 205.742C132.618 205.968 133.261 206.026 133.96 205.918ZM146.302 206.542L143.001 196.416L139.512 197.553L138.474 194.368L148.97 190.947L150.009 194.132L146.519 195.269L149.82 205.395L146.302 206.542ZM155.41 203.336L149.225 190.776L154.428 188.214C155.373 187.748 156.299 187.5 157.206 187.47C158.112 187.44 158.934 187.637 159.671 188.062C160.407 188.487 160.995 189.145 161.434 190.036C161.879 190.939 162.06 191.805 161.977 192.633C161.892 193.456 161.558 194.218 160.975 194.921C160.395 195.616 159.579 196.222 158.527 196.74L156.706 197.637L158.711 201.71L155.41 203.336ZM155.358 194.901L157.063 194.061C157.631 193.782 158.019 193.453 158.227 193.076C158.441 192.695 158.418 192.242 158.159 191.716C157.894 191.177 157.54 190.88 157.096 190.824C156.655 190.758 156.168 190.857 155.636 191.119L153.914 191.967L155.358 194.901ZM167.566 197.084L159.574 185.59L167.874 179.818L169.69 182.429L164.411 186.1L165.672 187.915L170.048 184.872L171.715 187.269L167.339 190.312L168.749 192.34L174.094 188.623L175.932 191.267L167.566 197.084ZM180.053 187.718L172.803 179.917L170.115 182.415L167.834 179.961L175.921 172.446L178.202 174.9L175.513 177.398L182.763 185.2L180.053 187.718ZM186.972 180.983L176.093 172.171L178.41 169.311L181.93 172.163L183.264 170.515C183.923 169.702 184.658 169.092 185.468 168.684C186.279 168.277 187.107 168.112 187.954 168.189C188.806 168.261 189.62 168.611 190.397 169.241C190.982 169.715 191.423 170.235 191.719 170.801C192.02 171.362 192.177 171.957 192.191 172.586C192.209 173.21 192.08 173.856 191.804 174.525C191.533 175.189 191.12 175.863 190.566 176.546L186.972 180.983ZM186.911 176.198L188.107 174.721C188.505 174.229 188.723 173.77 188.758 173.345C188.793 172.91 188.583 172.507 188.127 172.138C187.656 171.756 187.207 171.633 186.78 171.768C186.357 171.897 185.96 172.193 185.586 172.654L184.377 174.146L186.911 176.198ZM197.989 166.076L185.533 159.686L188.103 154.676C188.767 153.383 189.562 152.491 190.488 152C191.411 151.5 192.395 151.517 193.439 152.053C193.813 152.245 194.119 152.495 194.357 152.805C194.592 153.105 194.766 153.446 194.879 153.826C194.985 154.202 195.036 154.592 195.032 154.994C195.61 154.452 196.28 154.125 197.041 154.013C197.8 153.893 198.553 154.025 199.3 154.408C200.06 154.798 200.618 155.324 200.974 155.986C201.331 156.649 201.481 157.408 201.425 158.263C201.371 159.112 201.096 160.02 200.6 160.987L197.989 166.076ZM197.294 161.583L197.997 160.213C198.289 159.644 198.389 159.156 198.298 158.749C198.201 158.34 197.921 158.016 197.458 157.779C197.008 157.548 196.589 157.502 196.203 157.641C195.817 157.78 195.492 158.107 195.227 158.624L194.455 160.127L197.294 161.583ZM192.249 158.995L192.92 157.687C193.081 157.373 193.165 157.078 193.171 156.804C193.179 156.524 193.113 156.273 192.973 156.051C192.835 155.823 192.621 155.634 192.33 155.485C191.915 155.272 191.526 155.241 191.164 155.392C190.801 155.544 190.491 155.871 190.232 156.376L189.589 157.63L192.249 158.995ZM204 153.779L190.65 149.562L191.746 146.091L199.594 148.57L193.322 141.104L194.43 137.595L207.78 141.812L206.68 145.293L198.728 142.781L205.102 150.289L204 153.779ZM209.627 129.549L199.053 128.271L198.59 132.103L199.176 132.174C200.738 132.363 202.087 132.617 203.224 132.935C204.355 133.246 205.294 133.642 206.042 134.122C206.79 134.602 207.366 135.192 207.772 135.892C208.171 136.592 208.423 137.421 208.529 138.381L205.291 139.249C205.228 138.664 205.089 138.177 204.874 137.788C204.659 137.393 204.317 137.063 203.845 136.798C203.373 136.532 202.725 136.31 201.901 136.13C201.078 135.943 200.03 135.773 198.76 135.619L194.848 135.146L196.169 124.216L210.068 125.896L209.627 129.549ZM211.893 140.047L205.291 139.249L205.59 137.28L205.445 136.145L207.005 123.239L213.825 124.063L213.406 127.528L209.922 127.107L208.827 136.161L212.312 136.582L211.893 140.047ZM210.367 121.215L196.382 121.876L195.905 111.777L199.082 111.627L199.385 118.05L201.593 117.946L201.341 112.621L204.258 112.484L204.509 117.808L206.977 117.691L206.669 111.188L209.886 111.037L210.367 121.215ZM208.388 101.471C208.615 102.533 208.645 103.549 208.478 104.519C208.304 105.49 207.965 106.374 207.46 107.171C206.956 107.968 206.309 108.641 205.52 109.192C204.73 109.736 203.83 110.116 202.819 110.333C201.802 110.55 200.822 110.573 199.878 110.4C198.933 110.22 198.067 109.871 197.281 109.35C196.495 108.83 195.827 108.162 195.277 107.345C194.727 106.529 194.339 105.59 194.111 104.527C193.884 103.465 193.857 102.451 194.033 101.486C194.207 100.515 194.549 99.6302 195.06 98.8323C195.569 98.0278 196.219 97.3502 197.007 96.7995C197.79 96.2502 198.68 95.8688 199.677 95.6552C200.688 95.4389 201.665 95.4205 202.61 95.5999C203.556 95.7793 204.422 96.1324 205.21 96.6592C205.996 97.1794 206.668 97.847 207.224 98.662C207.772 99.4718 208.16 100.408 208.388 101.471ZM205.014 102.193C204.902 101.671 204.712 101.214 204.444 100.822C204.175 100.423 203.843 100.098 203.449 99.8486C203.048 99.6004 202.597 99.4378 202.096 99.3609C201.596 99.2839 201.059 99.3069 200.485 99.4297C199.716 99.5944 199.084 99.89 198.589 100.316C198.087 100.744 197.741 101.261 197.551 101.868C197.359 102.468 197.337 103.114 197.485 103.805C197.595 104.32 197.785 104.777 198.054 105.176C198.324 105.575 198.656 105.899 199.05 106.149C199.444 106.399 199.895 106.561 200.402 106.637C200.901 106.707 201.438 106.681 202.011 106.558C202.781 106.393 203.416 106.097 203.918 105.669C204.413 105.243 204.756 104.73 204.948 104.13C205.14 103.529 205.162 102.884 205.014 102.193Z' fill='%23FF8B3C'/%3e%3cpath d='M202.136 82.6121C196.07 69.5429 186.955 58.121 175.558 49.3067C164.16 40.4924 150.813 34.5434 136.638 31.9599C122.463 29.3763 107.875 30.2338 94.1007 34.4601C80.3262 38.6864 67.7678 46.158 57.4811 56.2468C47.1945 66.3356 39.4805 78.7467 34.9876 92.4365C30.4946 106.126 29.3542 120.695 31.662 134.917C33.9699 149.139 39.6586 162.6 48.2499 174.166C56.8413 185.733 68.0841 195.068 81.0331 201.386L87.3478 188.445C76.4706 183.137 67.0267 175.296 59.81 165.58C52.5932 155.864 47.8147 144.557 45.8761 132.611C43.9375 120.664 44.8955 108.426 48.6695 96.9269C52.4436 85.4274 58.9234 75.0021 67.5642 66.5275C76.2049 58.0529 86.754 51.7768 98.3246 48.2267C109.895 44.6766 122.149 43.9563 134.056 46.1265C145.963 48.2967 157.174 53.2938 166.748 60.6978C176.322 68.1018 183.979 77.6962 189.074 88.6744L202.136 82.6121Z' fill='%23FF8B3C'/%3e%3cpath d='M147.78 118.75L108.971 97.1898C107.638 96.4492 106 97.4131 106 98.9381V142.059C106 143.584 107.638 144.548 108.971 143.807L147.78 122.247C149.152 121.485 149.152 119.512 147.78 118.75Z' fill='%23FF8B3C'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 241px;
  height: 241px;
  top: 50%;
  left: 50%;
  margin-left: -120px;
  margin-top: -120px;
  cursor: pointer;
  z-index: 3;
  display: block;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.3s;
  transform-origin: center;

  @include responsive1279 {
    margin-left: -75px;
    margin-top: -75px;
    width: 150px;
    height: 150px;
    background-size: contain;
  }

  @include responsive767 {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
  }

  @include hover {
    transform: scale(0.9);
  }
}

.production-section__mobile {
  display: none;

  @include responsive1023 {
    display: block;
  }
}
