h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: $fontMain;
  font-weight: 900;
  text-transform: uppercase;
}

h1,
.caption--h1 {
  font-size: 120px;
  line-height: 122px;

  @include responsive1699 {
    font-size: 100px;
    line-height: 102px;
  }

  @include responsive1279 {
    font-size: 80px;
    line-height: 82px;
  }

  @include responsive1023 {
    font-size: 60px;
    line-height: 62px;
  }

  @include responsive767 {
    font-size: 54px;
    line-height: 56px;
  }
}

h2,
.caption--h2 {
  font-size: 80px;
  line-height: 82px;

  @include responsive1699 {
    font-size: 60px;
    line-height: 62px;
  }

  @include responsive1279 {
    font-size: 40px;
    line-height: 42px;
  }

  @include responsive1023 {
    font-size: 35px;
    line-height: 37px;
  }

  @include responsive767 {
    font-size: 36px;
    line-height: 38px;
  }

  @include responsive374 {
    font-size: 30px;
    line-height: 32px;
  }
}

h3,
.caption--h3 {
  font-size: 54px;
  line-height: 56px;

  @include responsive1699 {
    font-size: 42px;
    line-height: 44px;
  }

  @include responsive1279 {
    font-size: 32px;
    line-height: 34px;
  }

  @include responsive1023 {
    font-size: 28px;
    line-height: 30px;
  }

  @include responsive767 {
    font-size: 24px;
    line-height: 26px;
  }

  @include responsive639 {
    font-size: 20px;
    line-height: 22px;
  }
}

h4,
.caption--h4 {
  font-size: 24px;
  line-height: 26px;

  @include responsive1549 {
    font-size: 22px;
    line-height: 24px;
  }

  @include responsive1279 {
    font-size: 20px;
    line-height: 22px;
  }

  @include responsive1023 {
    font-size: 18px;
    line-height: 20px;
  }

  @include responsive767 {
    font-size: 16px;
    line-height: 18px;
  }
}
