.modal {
  font-family: $fontMain;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: $colorBlack;
}

.modal.is-open {
  display: flex;
  position: fixed;
  z-index: 20;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 50px 0;
  max-width: 1050px;
  position: relative;
  margin: auto;

  @include responsive1279 {
    max-width: 730px;
  }

  @include responsive767 {
    max-width: calc(100% - 20px);
  }
}

.modal__content {
  padding: 0;
  margin: 0;
  position: relative;
}

.modal__inner {
  position: relative;
}

.modal__close {
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  right: -80px;
  top: 0;
  display: flex;
  z-index: 9;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26.6458 1.76782L14.2067 14.2069M14.2067 14.2069L1.76758 1.76782M14.2067 14.2069L26.6458 26.646M14.2067 14.2069L1.76758 26.646' stroke='white' stroke-width='5'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 29px;
  height: 29px;

  &:hover {
    opacity: 0.75;
  }
}

.modal__content {
  border-radius: 9px;

  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      border-radius: 10px;
    }
  }
}

.modal__overlay {
  background-color: $colorBlack-a7;
  transition: all 0.3s;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

.modal-default {
  &.modal-default--dark {
    background-color: $colorBeige;
    color: $colorGray;

    .modal-content {
      background-color: $colorBeige;
    }
  }

  &.modal-default--light {
    color: $colorWhite;

    .modal-content {
      background-color: $colorGreen;
    }

    .caption {
      color: $colorWhite;
    }

    .input-item {
      select,
      textarea,
      input {
        border-color: $colorWhite;
        font-weight: 800;
        color: $colorWhite;

        &:focus {
          color: $colorGray;
        }
      }
    }

    .check-block {
      label {
        color: $colorWhite;

        &::before {
          border-color: $colorWhite;
        }

        &:after {
          filter: brightness(0) invert(1);
        }
      }
    }

    .modal-content {
      color: $colorWhite;

      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='820' height='737' viewBox='0 0 820 737' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.08'%3e%3cpath d='M436 368.5C436 572.017 600.983 737 804.5 737C1008.02 737 1173 572.017 1173 368.5C1173 164.983 1008.02 0 804.5 0C600.983 0 436 164.983 436 368.5ZM967.489 368.5C967.489 458.516 894.516 531.489 804.5 531.489C714.484 531.489 641.511 458.516 641.511 368.5C641.511 278.484 714.484 205.511 804.5 205.511C894.516 205.511 967.489 278.484 967.489 368.5Z' fill='white'/%3e%3ccircle cx='368.5' cy='368.5' r='368.5' transform='matrix(-1 0 0 1 385.871 0)' fill='white'/%3e%3c/g%3e%3c/svg%3e ");
      @include responsive767 {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='375' height='619' viewBox='0 0 375 619' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.1'%3e%3cpath d='M187.5 244C83.9466 244 3.47078e-06 327.947 2.23592e-06 431.5C1.00105e-06 535.053 83.9466 619 187.5 619C291.053 619 375 535.053 375 431.5C375 327.947 291.053 244 187.5 244ZM187.5 514.432C141.698 514.432 104.568 477.302 104.568 431.5C104.568 385.698 141.698 348.568 187.5 348.568C233.302 348.568 270.432 385.698 270.432 431.5C270.432 477.302 233.302 514.432 187.5 514.432Z' fill='white'/%3e%3ccircle cx='187.5' cy='187.5' r='187.5' transform='matrix(1.19249e-08 -1 -1 -1.19249e-08 375 217.125)' fill='white'/%3e%3c/g%3e%3c/svg%3e ");
      }
    }

    .modal__close {
      filter: brightness(0) invert(1);
    }
  }

  .modal-content {
    height: 100%;
    border-radius: 60px;
    padding: 60px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1100' height='737' viewBox='0 0 1100 737' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M436 368.5C436 572.017 600.983 737 804.5 737C1008.02 737 1173 572.017 1173 368.5C1173 164.983 1008.02 0 804.5 0C600.983 0 436 164.983 436 368.5ZM967.489 368.5C967.489 458.516 894.516 531.489 804.5 531.489C714.484 531.489 641.511 458.516 641.511 368.5C641.511 278.484 714.484 205.511 804.5 205.511C894.516 205.511 967.489 278.484 967.489 368.5Z' fill='%23F1EAE2'/%3e%3ccircle cx='368.5' cy='368.5' r='368.5' transform='matrix(-1 0 0 1 385.871 0)' fill='%23F1EAE2'/%3e%3c/svg%3e ");

    @include responsive1699 {
      padding: 40px;
    }

    @include responsive1023 {
      padding: 30px;
    }

    @include responsive767 {
      border-radius: 0;
      width: 100%;
      width: 100%;
      min-height: 100vh;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='375' height='619' viewBox='0 0 375 619' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M187.5 244C83.9466 244 3.47078e-06 327.947 2.23592e-06 431.5C1.00105e-06 535.053 83.9466 619 187.5 619C291.053 619 375 535.053 375 431.5C375 327.947 291.053 244 187.5 244ZM187.5 514.432C141.698 514.432 104.568 477.302 104.568 431.5C104.568 385.698 141.698 348.568 187.5 348.568C233.302 348.568 270.432 385.698 270.432 431.5C270.432 477.302 233.302 514.432 187.5 514.432Z' fill='%23F1EAE2'/%3e%3ccircle cx='187.5' cy='187.5' r='187.5' transform='matrix(1.19249e-08 -1 -1 -1.19249e-08 375 217.125)' fill='%23F1EAE2'/%3e%3c/svg%3e ");
      background-position: center top;
      background-repeat: no-repeat;
    }
  }

  .modal__inner {
    @include responsive767 {
      height: 100dvh;
      overflow: auto;
    }
  }

  .modal__close {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26.6477 1.76758L14.2086 14.2067M14.2086 14.2067L1.76953 1.76758M14.2086 14.2067L26.6477 26.6458M14.2086 14.2067L1.76953 26.6458' stroke='%23454C52' stroke-width='5'/%3e%3c/svg%3e ");
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    right: 70px;
    top: 120px;

    @include responsive1699 {
      right: 40px;
      top: 70px;
    }

    @include responsive1279 {
      top: 60px;
    }

    @include responsive1023 {
      right: 30px;
      top: 58px;
      width: 20px;
      height: 20px;
    }

    @include responsive767 {
      width: 15px;
      height: 15px;
      top: 30px;
    }
  }

  .modal-content__form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 20px;
    margin-top: 60px;

    @include responsive1699 {
      margin-top: 40px;
    }

    @include responsive767 {
      flex-direction: column;
    }

    .check-block {
      margin-top: 24px;

      @include responsive1699 {
        margin-top: 16px;
      }

      & + .check-block {
        margin-top: 10px;

        @include responsive1699 {
          margin-top: 8px;
        }
      }
    }

    .btn {
      font-size: 36px;
      margin-top: 30px;
      height: 120px;

      @include responsive1699 {
        font-size: 24px;
        height: 80px;
        margin-top: 20px;
      }

      @include responsive1023 {
        height: 60px;
        font-size: 22px;
        line-height: 24px;
      }

      @include responsive767 {
        height: 80px;
        font-size: 20px;
        line-height: 22px;
      }
    }
  }

  .input-item {
    width: calc(100% / 3 - 14px);

    @include responsive767 {
      width: 100%;
    }
  }

  .input-item--select,
  .input-item--textarea {
    width: 100%;
  }

  .input-item--select {
    position: relative;

    @include after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.4609 1.06055L8.26094 8.26055L1.06094 1.06055' stroke='%23454C52' stroke-width='3'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-size: 14px;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.modal-content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#popup-contact {
  .modal__container {
    max-width: 1100px;
    width: 100%;

    @include responsive1699 {
      max-width: 920px;
      padding: 20px 0;
    }

    @include responsive1023 {
      max-width: 700px;
    }

    @include responsive767 {
      width: 100%;
      max-width: 100%;
      height: 100dvh;
      padding: 0;
    }
  }
}

#popup-request-price {
  .modal__container {
    max-width: 820px;
    width: 100%;

    @include responsive1699 {
      max-width: 720px;
      padding: 20px 0;
    }

    @include responsive1023 {
      max-width: 600px;
    }

    @include responsive767 {
      width: 100%;
      max-width: 100%;
      height: 100dvh;
      padding: 0;
    }
  }

  .modal-content__form {
    flex-direction: column;

    .input-item {
      width: 100%;
      max-width: 100%;
    }
  }

  .modal-content {
    @include responsive1699 {
      padding: 40px;
    }

    @include responsive1023 {
      padding: 30px;
    }

    @include responsive767 {
      border-radius: 0;
      width: 100%;
      width: 100%;
      min-height: 100vh;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='375' height='619' viewBox='0 0 375 619' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.1'%3e%3cpath d='M187.5 244C83.9466 244 3.47078e-06 327.947 2.23592e-06 431.5C1.00105e-06 535.053 83.9466 619 187.5 619C291.053 619 375 535.053 375 431.5C375 327.947 291.053 244 187.5 244ZM187.5 514.432C141.698 514.432 104.568 477.302 104.568 431.5C104.568 385.698 141.698 348.568 187.5 348.568C233.302 348.568 270.432 385.698 270.432 431.5C270.432 477.302 233.302 514.432 187.5 514.432Z' fill='white'/%3e%3ccircle cx='187.5' cy='187.5' r='187.5' transform='matrix(1.19249e-08 -1 -1 -1.19249e-08 375 217.125)' fill='white'/%3e%3c/g%3e%3c/svg%3e ");
      background-position: center top;
      background-repeat: no-repeat;
    }
  }
}

#popup-thank-2,
#popup-thank-1 {
  .modal__container {
    max-width: 810px;
    padding: 0;
  }

  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
